
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');
p{
	text-align:center;
	color: rgba(26, 209, 255, 1);/*Light-Blue*/
	font-weight: 700;
	font-size: 80px;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;

}