

	*{
		/*background-color:rgba(160, 181, 214, 0.9);*/
	}
	a {
		color: LightGray;
	}
	
	
	h1, h2 {
		color:White
	}
	

	p{
		color: DarkGray;
	}
	
	ul{
		color: DarkGray;
	}

	img.profilepic {
		background-color: powderblue;
	}
	
	.topContainer{
		background-color:rgba(255, 255, 255, 0.7);
	}