

	*{
		/*background-color:rgba(160, 181, 214, 0.9);*/
	}
	a {
	}
	
	
	h1, h2 {
		color:White
	}
	

	p{
		color: White;
	}
	
	ul{
		color: White;
	}

	img.profilepic {
		background-color: powderblue;
	}
	
	.topContainer{
		background-color:rgba(115, 115, 115, 0.7);
		padding:10px;
	}
	
	.botContainer{
		background-color:rgba(26, 209, 255, 1);
	}